script(src='https://cdn.socket.io/socket.io-1.4.5.js')  
script(src='javascripts/main.js') 



doctype 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    This is the random number from server: 
     span#random